@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* body{
background-image: url('/img/bg-pattern.webp');
background-repeat: no-repeat;
background-size: cover;
} */

.navbar{
    background: #3b413c;
    color:#94d1be;
}

a.nav-link{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: #94d1be;   
}

a.nav-link:hover{
    color: white;
}

h1.navbar-brand{
    font-size: 0;
    background-image: url('img/logo-web.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

h2, h3{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: #94d1be;
    text-align: center;
    margin-top: 2rem;
}

ul, li{
    margin-left: auto;
    list-style-type: none;
    text-align: left;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
}

.card{
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 12px;
    border: none;
}

.link-description, p, .form-label, .card-text{
    color: #3b413c;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    margin: 2rem, 0;
    text-align: left;
}

.delivery-free{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.2rem;  
}

.btn{
    background-color: #3b413c;
    color: #94d1be; 
    font-weight: 600;  
}

b{
    color: #94d1be; 
}

form{
    max-width: 800px;
    margin: auto;
}

footer{
    padding: 0.5rem;
    background-color: #94d1be;
    color: #3b413c;
}

footer p{
    margin-top: 1rem;
    font-weight: 700;   
}

h2.header-home {
    color: #94d1be;
    font-size: 5vmin;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0px;
}

.wave-container {  
    height: 25vh;
    background-color: #3b413c;
    position: relative;
  }
  
.wave-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 100vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23fffefe'/></svg>");
}

@media(max-width:850px) {
    .wave-container::before {    
      height: 84px
    }  
}

@media screen and (max-width: 48em){

    h1.navbar-brand{
        background-image: url('img/logo-mobile.png');
    }
}